<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<p-panel header="{{modelName}} Details">

    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <ng-content>
            </ng-content>
            <div class="ui-grid-col-1" style="margin-right: 10px">
                <button pButton type="submit" label="Submit" [disabled]="!f.valid"></button>
            </div>
            <div class="ui-grid-col-1">
                <button pButton type="button" label="Cancel" (click)="cancel()"></button>
            </div>
            <div class="ui-grid-col-1" style="margin-left: 10px" *ngFor="let key of actionKeys">
                <span *ngIf="permissions.includes(key)">
                    <button pButton type="button" [label]="actions[key].Name"
                        (click)="doAction(actions[key])"></button>
                </span>
            </div>
        </div>
    </form>
    <pre>{{ f.value | json }}</pre>
</p-panel>
