
<automatic-card modelName="User" listRoute="base-user-list">
	<div class="p-grid">
		<div class="p-col-6">
			<!-- First column -->
			<field-form fieldName="Id" name="Id" ngModel ></field-form>
			<field-form fieldName="CreatedByUser" name="CreadByUserId"ngModel ></field-form>
		
		</div>
		<div class="p-col-6">
			<!-- Second column -->
			<field-form fieldName="FirstName" name="FirstName" ngModel ></field-form>
			<field-form fieldName="LastName" name="LastName" ngModel ></field-form>
			<field-form fieldName="Username" name="Username" ngModel ></field-form>
			<field-form fieldName="Email" name="Email" ngModel ></field-form>
		
		</div>
		<div class = "p-col-12">
			<field-form fieldName="Roles" name="RoleIds"[labelWidth]="2" ngModel ></field-form>
		</div>
	</div>

</automatic-card>

<!-- <p-toast [style]="{marginTop: '80px'}" position="top-right" ></p-toast> -->
<!-- <p-panel header="Details">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row" *ngFor="let col of cols">
            <div class="ui-grid-col-1">
                {{col.header}} <span style="color:red">{{requiredFields(col.header)}}</span>
            </div>
            <div class="ui-grid-col-4">
                <input pInputText type="text" placeholder="{{col.header}}" [disabled]="disableColumn(col.field)"
                    [(ngModel)]="user[col.field]" />
            </div>
            <div *ngIf="messageCheck(col.field)" class="ui-grid-col-2">
                <p-message severity="error" [(text)]="messages[col.field]"></p-message>
            </div>
        </div>
        <div *ngIf="isAdd" class="ui-grid-row">
        <div class="ui-grid-col-1">
             Password <span style="color:red">*</span>
        </div>
        <div class="ui-grid-col-4">
            <input pInputText type="password" autocomplete ="new-password" placeholder="Password"
                    [(ngModel)]="user.Password" />
        </div>
    </div>
    <div class="ui-grid-row">
    <div class="ui-grid-col-1">
             Roles
   </div>
    <div class="ui-grid-col-4">
        <p-multiSelect #multiSelect [options]="roles" [(ngModel)]="user.RoleIds" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
    </div>
</div>
        <div class="ui-grid-col-1" style="margin-right: 10px">
            <button pButton type="button" label="Submit" (click)="saveUser()"></button>
        </div>
        <div class="ui-grid-col-1">
            <button pButton type="button" label="Cancel" (click)="cancelUserEdit()"></button>
        </div>
    </div> -->





    <!-- <p-table [value]="user.roles" [columns]="cols" editMode="row" dataKey="id">
        <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns">
                  {{col.header}}
              </th>
              <th style="width: 4em"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData">
            <td *ngFor="let col of columns">
            
                <p-cellEditor *ngIf = "col.field !='id'; else elseBlock">
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData[col.field]">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData[col.field]}}
                    </ng-template>
                </p-cellEditor>
                <ng-template #elseBlock>
                    {{rowData[col.field]}}
                </ng-template>
            </td>
            <td>
                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData,rowIndex)"></button>
                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(ri)"></button>
                <button *ngIf="!editing" pButton type="button" label="Delete" (click)="deleteRole(rowData)"></button>
            </td>
        </tr>
    </ng-template>
      </p-table>
      <button pButton type="button" label="Add" (click)="addNewRole()"></button> -->
<!-- </p-panel> -->
