<list 
    model="BaseBornaDoc" 
    listRoute="base-borna-doc-list" 
    >
<!--Scaffolder-Property-Name-Start-->
<field name="Name"></field>
<!-- <field name="Napomena"></field> -->
<!--Scaffolder-Property-Name-End-->
	<!-- Scaffolder-Properties-Start -->	
	<!-- Scaffolder-Properties-End -->	
</list> 
