<span><b>{{wp.FieldDataFormat.Description}}</b></span><br/>
<p-table [value]="fieldParameters.FieldData" [columns]="fieldParameters.FieldDataFormat.DataFormat">
    <ng-template pTemplate="header" let-columns>
        <th *ngFor="let fieldName of columns">
            {{fieldParameters.FieldDataFormat.DataFormat[fieldName].Description}}
        </th>
        <th style="width: 8em"></th>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <!-- <td *ngFor="let fieldName of columns">
                <field-form 
					[fieldName]="fieldName" 
					[modelDataFormat]="dataFormat.DataFormat" 
					labelWidth="0"
					[modelData] = "rowData"
					>
				</field-form>
            </td> -->
            <td>
                <!-- <button type="button" (click)="selectLinesToRemove($event,rowData)" pButton class="ui-button-danger"
                    icon="pi pi-trash"></button> -->
            </td>
        </tr>
    </ng-template>
</p-table>