<card 
    model="SzAnketaKp" 
    listRoute="sz-anketa-kp-list" 
    >
	<div class="p-grid">
		<div class="p-col-6">
			<!-- Scaffolder-Properties-Start -->	
			<!-- Scaffolder-Properties-End -->	
        </div>
    </div>
</card> 
