<card 
    modelName="--ModuleNameBornaDoc" 
    listRoute="base-borna-doc-list" 
    >
	<div class="p-grid">
		<div class="p-col-6">
<!--Scaffolder-Property-Name-Start-->
<field name="Name"></field>
<!--Scaffolder-Property-Name-End-->
			<!-- Scaffolder-Properties-Start -->	
			<!-- Scaffolder-Properties-End -->	
        </div>
    </div>
</card> 
