<span [ngSwitch]="dataFormat">
    <span *ngSwitchCase="'String'">
        <string-table [data]="data"></string-table>
    </span>
    <span *ngSwitchCase="'Identifier'">
        <identifier-table [data]="data"></identifier-table>
        <span>