<div *ngIf="isEditable; else elseBlock">
    <p-multiSelect 
    #multiSelect
        [options]="recordNames"
        showClear="true" 
        (onChange)="sendDataToParent()"
        [(ngModel)]="selectedData" 
        required="isRequired"
        defaultLabel="">
    </p-multiSelect>
</div>
<ng-template #elseBlock> 
    <input 
        type="text" 
        disabled=true 
        [ngModel]="recordNames" 
        placeholder="{{'...'}}"
        pInputText>
</ng-template>