<card 
    modelName="Role" 
    listRoute="base-role-list" 
    >
        <div class="p-grid">
        	<div class="p-col-6">
                        <field name="Id"></field>
                        <field name="Name"></field>
                </div>
        </div>
</card>
