<p-toast [style]="{marginTop: '80px'}" position="top-right" ></p-toast>
<p-panel header="Details">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row" *ngFor="let col of cols">
            <div class="ui-grid-col-1">
                {{col.header}}
            </div>
            <div class="ui-grid-col-4">
                <input pInputText type="text" placeholder="{{col.header}}" [disabled]="disableColumn(col.field)"
                    [(ngModel)]="role[col.field]" />
            </div>
            <div *ngIf="messageCheck(col.field)" class="ui-grid-col-2">
                <p-message severity="error" [(text)]="messages[col.field]"></p-message>
            </div>
        </div>
        <div class="ui-grid-col-1" style="margin-right: 10px">
            <button pButton type="button" label="Submit" (click)="saveRole()"></button>
        </div>
        <div class="ui-grid-col-1">
            <button pButton type="button" label="Cancel" (click)="cancelRoleEdit()"></button>
        </div>
    </div>
   </p-panel>