<span [ngSwitch]="dataFormat">
    <span *ngSwitchCase="'String'">
        <string-list [data]="data"></string-list>
    </span>
    <span *ngSwitchCase="'Identifier'">
        <identifier-list [data]="data"></identifier-list>
    </span>
    <span *ngSwitchCase="'Boolean'">
        <boolean-list [data]="data"></boolean-list>
    </span>
</span>