<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="login-panel-header">
            <img src="assets/layout/images/logo-slim.png">
        </div>
        <div class="login-panel-content">
            <div class="ui-g">
                <div class="ui-g-12">
                    <h1>Sign-in to Nava website</h1>
                </div>
                <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input type="text" pInputText [(ngModel)]="logUser.Username">
                        <label>Username</label>
                    </span>
                </div>
                <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input type="password" autocomplete ="new-password" pInputText [(ngModel)]="logUser.Password">
                        <label>Password</label>
                    </span>
                </div>
                <div class="ui-g-12">
                    <button pButton type="button" label="Sign In" icon="ui-icon-person" (click)="logIn()"></button>
         
                </div>
                <div class="ui-g-12">
                    Don't have an account? <a href="#/register">Sign Up</a> now.
                </div>
            </div>
        </div>
    </div>
</div>
