<automatic-card 
  modelName="JobApplication" 
  listRoute="hr-job-application"
>
	<div class="p-grid">
		<div class="p-col-6">
			<!-- First column -->
			<field-form fieldName="Id" name="Id" ngModel ></field-form>
			<field-form fieldName="Oib" name="Oib" ngModel ></field-form>
			<field-form fieldName="Name" name="Name" ngModel ></field-form>
			<field-form fieldName="Surname" name="Surname" ngModel ></field-form>
			<field-form fieldName="Sex" name="Sex" ngModel ></field-form>
			<field-form fieldName="MaidenName" name="MaidenName" ngModel ></field-form>
			<field-form fieldName="DateOfBirth" name="DateOfBirth" ngModel ></field-form>
			<field-form fieldName="City1" name="City1" ngModel ></field-form>
			<field-form fieldName="Address1" name="Address1" ngModel ></field-form>
			<field-form fieldName="City2" name="City2" ngModel ></field-form>
			<field-form fieldName="Address2" name="Address2" ngModel ></field-form>
			<field-form fieldName="Phone" name="Phone" ngModel ></field-form>
			<field-form fieldName="Email" name="Email" ngModel ></field-form>


		</div>
		<div class="p-col-6">
			<!-- Second column -->
			<field-form fieldName="Qualifications" name="Qualifications" ngModel ></field-form>
			<field-form fieldName="Occupation" name="Occupation" ngModel ></field-form>
			<div class="p-grid">
				<div class="p-col-4" align="right"><span align="right"><b>Staž SSS:</b></span></div>
				<div class="p-col-2"><div class="p-grid"><field-form labelWidth="0" fieldName="Experience1y" name="Experience1y" ngModel ></field-form></div></div>
				<div class="p-col-1"></div>
				<div class="p-col-2"><div class="p-grid"><field-form labelWidth="0" fieldName="Experience1m" name="Experience1m" ngModel ></field-form></div></div>
				<div class="p-col-1"></div>
				<div class="p-col-2"><div class="p-grid"><field-form labelWidth="0" fieldName="Experience1d" name="Experience1d" ngModel ></field-form></div></div>
			</div>
			<div class="p-grid">
				<div class="p-col-4" align="right"><span align="right"><b>Staž VŠS:</b></span></div>
				<div class="p-col-2"><div class="p-grid"><field-form labelWidth="0" fieldName="Experience2y" name="Experience2y" ngModel ></field-form></div></div>
				<div class="p-col-1"></div>
				<div class="p-col-2"><div class="p-grid"><field-form labelWidth="0" fieldName="Experience2m" name="Experience2m" ngModel ></field-form></div></div>
				<div class="p-col-1"></div>
				<div class="p-col-2"><div class="p-grid"><field-form labelWidth="0" fieldName="Experience2d" name="Experience2d" ngModel ></field-form></div></div>
			</div>		
			<div class="p-grid">
				<div class="p-col-4" align="right"><span align="right"><b>Staž VSS:</b></span></div>
				<div class="p-col-2"><div class="p-grid"><field-form labelWidth="0" fieldName="Experience3y" name="Experience3y" ngModel ></field-form></div></div>
				<div class="p-col-1"></div>
				<div class="p-col-2"><div class="p-grid"><field-form labelWidth="0" fieldName="Experience3m" name="Experience3m" ngModel ></field-form></div></div>
				<div class="p-col-1"></div>
				<div class="p-col-2"><div class="p-grid"><field-form labelWidth="0" fieldName="Experience3d" name="Experience3d" ngModel ></field-form></div></div>
			</div>	
			<field-form fieldName="StateExam" name="StateExam" ngModel ></field-form>
			<field-form fieldName="LegalExam" name="LegalExam" ngModel ></field-form>
			<field-form fieldName="VeteranStatus" name="VeteranStatus" ngModel ></field-form>
			<field-form fieldName="NationalMinority" name="NationalMinority" ngModel ></field-form>
			<field-form fieldName="Disability" name="Disability" ngModel ></field-form>
			<field-form fieldName="Remark" name="Remark" ngModel ></field-form>

		</div>
		<div class = "p-col-12">DOKUMENTI</div>
		<div class = "p-col-6">
				<field-form fieldName="Cv" name="Cv" ngModel ></field-form>
				<field-form fieldName="ProofOfCitizenship" name="ProofOfCitizenship" ngModel ></field-form>
				<field-form fieldName="CourtsConviction" name="CourtsConviction" ngModel ></field-form>
		</div>
		<div class="p-col-6">
				<field-form fieldName="Diploma" name="Diploma" ngModel ></field-form>
				<field-form fieldName="ConfirmationHZMO" name="ConfirmationHZMO" ngModel ></field-form>
				<field-form fieldName="Other" name="Other" ngModel ></field-form>
		</div>
	</div>

</automatic-card>