<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<p>1</p>
<span *ngIf="isReadyToDisplayHtml">
    <h1>{{modelName}}</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <td *ngFor="let e1 of fieldNamesObjectArray" >
                        <b>{{fieldsParameters[e1.FieldName].FieldDataFormat.Description}}</b>                    
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e1 of recordIdsObjectArray">
                    <td *ngFor="let e2 of fieldNamesObjectArray" >
                            <!-- {{e2.FieldName}} - {{dictDataTypes[e2.FieldName]}} - {{modelDataDict[e1.Id][e2.FieldName]}} -->
                        <widgetString 
                            *ngIf="dataTypesDict[e2.FieldName] == 'String'" 
                            [p]="fieldsParameters[e2.FieldName]"
                            [value]="modelDataDict[e1.Id][e2.FieldName]"
                            [editable]="false"
                            (inputData)="sendDataToForm($event)" 
                            >
                        </widgetString>
                        <widgetIdentifier 
                            *ngIf = "dataTypesDict[e2.FieldName] == 'Identifier'" 
                            [p]="fieldsParameters[e2.FieldName]"
                            [value]="modelDataDict[e1.Id][e2.FieldName]"
                            >
                        </widgetIdentifier>          
                        <widgetMany2One 
                            *ngIf = "dataTypesDict[e2.FieldName] == 'Many2One'" 
                            [p]="fieldsParameters[e2.FieldName]"
                            [value]="modelDataDict[e1.Id][e2.FieldName]"
                            >
                        </widgetMany2One>  
                        <widgetMany2Many
                            *ngIf = "dataTypesDict[e2.FieldName] == 'Many2Many'" 
                            [p]="fieldsParameters[e2.FieldName]"
                            [value]="modelDataDict[e1.Id][e2.FieldName]"
                            >
                        </widgetMany2Many>               
                        <widgetFile
                            *ngIf = "dataTypesDict[e2.FieldName] == 'File'" 
                            [p]="fieldsParameters[e2.FieldName]"
                            [value]="modelDataDict[e1.Id][e2.FieldName]"
                            >
                        </widgetFile>
                    </td>
                    <td>
                        <button 
                            type="button" 
                            (click)="openCard(modelDataDict[e1.Id]['Id'])" 
                            pButton 
                            class="ui-button-success"
                            icon="pi pi-search"
                            >
                        </button>
                    </td>                   
                </tr>
            </tbody>
        </table>
     </div>
</span>
