<span *ngIf="isInitialized" >
    <div *ngIf="displayMode == EFieldDisplayMode.Card || displayMode == EFieldDisplayMode.ListFilter">
        <div class="p-grid">
            <div *ngIf="labelWidth > 0" class="p-col-{{labelWidth}}" align="right">
                <widgetLabel [p]="fieldParameters"></widgetLabel>
            </div>
            <div class="p-col-{{12 - labelWidth}}" >
                <widgetString 
                    *ngIf="fieldParameters.FieldDataFormat.DataType == 'String'" 
                    [p]="fieldParameters"
                    (inputData)="sendDataToForm($event)" 
                    >
                </widgetString>
                <widgetInteger 
                    *ngIf="fieldParameters.FieldDataFormat.DataType == 'Integer'" 
                    [p]="fieldParameters"
                    (inputData)="sendDataToForm($event)" 
                    >
                </widgetInteger>                
                <widgetIdentifier 
                    *ngIf = "fieldParameters.FieldDataFormat.DataType == 'Identifier'" 
                    [p] = "fieldParameters"
                    >
                </widgetIdentifier>          
                <widgetMany2One 
                    *ngIf = "fieldParameters.FieldDataFormat.DataType == 'Many2One'" 
                    [p] = "fieldParameters"
                    >
                </widgetMany2One>  
                <widgetMany2Many
                    *ngIf = "fieldParameters.FieldDataFormat.DataType == 'Many2Many'" 
                    [p] = "fieldParameters"
                    >
                </widgetMany2Many>               
                <widgetFile
                    *ngIf = "fieldParameters.FieldDataFormat.DataType == 'File'" 
                    [p] = "fieldParameters"
                    >
                </widgetFile>                         
            </div>
        </div>
    </div>
    <ng-template *ngIf="displayMode == EFieldDisplayMode.ListLabel">
        <widgetLabel [p]="fieldParameters"></widgetLabel>
    </ng-template>
    <ng-template *ngIf="displayMode == EFieldDisplayMode.ListDataNonEditable">
        <!-- <widgetString 
            *ngIf="fieldParameters.FieldDataFormat.DataType == 'String'" 
            [wp]="fieldParameters"
            (inputData)="sendDataToForm($event)" 
            >
        </widgetString>
        <widgetIdentifier 
            *ngIf = "fieldParameters.FieldDataFormat.DataType == 'Identifier'" 
            [wp] = "fieldParameters"
            >
        </widgetIdentifier>          
        <widgetMany2One 
            *ngIf = "fieldParameters.FieldDataFormat.DataType == 'Many2One'" 
            [wp] = "fieldParameters"
            >
        </widgetMany2One>  
        <widgetMany2Many
            *ngIf = "fieldParameters.FieldDataFormat.DataType == 'Many2Many'" 
            [wp] = "fieldParameters"
            >
        </widgetMany2Many>               
        <widgetFile
            *ngIf = "fieldParameters.FieldDataFormat.DataType == 'File'" 
            [wp] = "fieldParameters"
            >
        </widgetFile>                          -->
    </ng-template>
</span>