<div class="p-grid">
    <div style="width:49%; margin-left: 5px">
        <!-- p-accordion is a card which can be hidden
    https://www.primefaces.org/primeng/#/accordion
-->
        <p-accordion>
            <p-accordionTab header="Header 1" [selected]="true">
                <!-- link to doc, i.e. https://www.primefaces.org/primeng/#/chart -->

                <p-chart type="polarArea" [data]="data"></p-chart>
            </p-accordionTab>
        </p-accordion>
    </div>
    <div style="width:49%; margin-left: 5px">
        <p-accordion>
            <p-accordionTab header="Header 1" [selected]="true">
                <!-- link to doc, i.e. https://swimlane.gitbook.io/ngx-charts/examples/line-area-charts/area-chart -->
                <ngx-charts-area-chart [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
                    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                    (select)="onSelect($event)">
                </ngx-charts-area-chart>
            </p-accordionTab>
        </p-accordion>
    </div>

    <div style="width:49%; margin-left: 5px">
        <p-accordion>
            <p-accordionTab header="Header 1" [selected]="true">
                <!-- link to doc, i.e. https://swimlane.gitbook.io/ngx-charts/examples/bar-charts/vertical-bar-chart -->
                <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="single" [gradient]="gradient"
                    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                    (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
            </p-accordionTab>
        </p-accordion>
    </div>

    <div style="width:49%; margin-left: 5px">
        <p-accordion>
            <p-accordionTab header="Header 1" [selected]="true">
                <!-- link to doc, i.e. https://developers.google.com/chart/interactive/docs/gallery/gauge -->
                <!-- Retro gauge chart  -->
                <google-chart [title]="chart.title" [type]="chart.type" [data]="chart.data" [options]="chart.options">
                </google-chart>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>