<card 
    model="SzAnketaSz" 
    listRoute="sz-anketa-sz-list" 
    >
	<div class="p-grid">
		<div class="p-col-6">
<!--Scaffolder-Property-StandardZanimanja-Start-->
<field name="StandardZanimanja"></field>
<!--Scaffolder-Property-StandardZanimanja-End-->
<!--Scaffolder-Property-RazinaSamostalnosti-Start-->
<field name="RazinaSamostalnosti"></field>
<!--Scaffolder-Property-RazinaSamostalnosti-End-->
<!--Scaffolder-Property-RazinaOdgovornosti-Start-->
<field name="RazinaOdgovornosti"></field>
<!--Scaffolder-Property-RazinaOdgovornosti-End-->
<!--Scaffolder-Property-OibOrganizacije-Start-->
<field name="OibOrganizacije"></field>
<!--Scaffolder-Property-OibOrganizacije-End-->
<!--Scaffolder-Property-OpciPodaciOrganizacije-Start-->
<field name="OpciPodaciOrganizacije"></field>
<!--Scaffolder-Property-OpciPodaciOrganizacije-End-->
<!--Scaffolder-Property-PopunioAnketu-Start-->
<field name="PopunioAnketu"></field>
<!--Scaffolder-Property-PopunioAnketu-End-->
			<!-- Scaffolder-Properties-Start -->	
			<!-- Scaffolder-Properties-End -->	
        </div>
    </div>
</card> 
