<card 
    model="SzZnanje" 
    listRoute="sz-znanje-list" 
    >
	<div class="p-grid">
		<div class="p-col-6">
<!--Scaffolder-Property-SzSifraZnanje-Start-->
<field name="SzSifraZnanje"></field>
<!--Scaffolder-Property-SzSifraZnanje-End-->
<!--Scaffolder-Property-Opis-Start-->
<field name="Opis"></field>
<!--Scaffolder-Property-Opis-End-->
<!--Scaffolder-Property-OpisHrv-Start-->
<field name="OpisHrv"></field>
<!--Scaffolder-Property-OpisHrv-End-->
<!--Scaffolder-Property-OpisEng-Start-->
<field name="OpisEng"></field>
<!--Scaffolder-Property-OpisEng-End-->
<!--Scaffolder-Property-HijerarhijaZnanje-Start-->
<field name="HijerarhijaZnanje"></field>
<!--Scaffolder-Property-HijerarhijaZnanje-End-->
<!--Scaffolder-Property-HijerarhijaSpecificneVjestine-Start-->
<field name="HijerarhijaSpecificneVjestine"></field>
<!--Scaffolder-Property-HijerarhijaSpecificneVjestine-End-->
<!--Scaffolder-Property-PrimjenaZnanja-Start-->
<field name="PrimjenaZnanja"></field>
<!--Scaffolder-Property-PrimjenaZnanja-End-->
<!--Scaffolder-Property-PosebnoZnanjeDn-Start-->
<field name="PosebnoZnanjeDn"></field>
<!--Scaffolder-Property-PosebnoZnanjeDn-End-->
			<!-- Scaffolder-Properties-Start -->	
			<!-- Scaffolder-Properties-End -->	
        </div>
    </div>
</card> 
