<p-toast [style]="{marginTop: '80px'}" position="bottom-right"></p-toast>
<p-panel header="Register">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Username*
            </div>
            <div class="ui-grid-col-6">
                <input pInputText type="text" required placeholder="Required" [(ngModel)]="newUser.Username" />
            </div>
            <div class="ui-grid-col-2">
                <button pButton type="button" label="Submit" [disabled]="checkRequiredData()" (click)="Submit()"></button>
            </div>
            <div class="ui-grid-col-2">
                <button pButton type="button" label="Cancel" (click)="cancel()"></button>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                First Name
            </div>
            <div class="ui-grid-col-6">
                <input pInputText type="text" [(ngModel)]="newUser.FirstName" />
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Last Name
            </div>
            <div class="ui-grid-col-6">
                <input pInputText type="text" [(ngModel)]="newUser.LastName" />
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Email*
            </div>
            <div class="ui-grid-col-6">
                <input pInputText type="email" required [(ngModel)]="newUser.Email" />
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Password*
            </div>
            <div class="ui-grid-col-6">
                <input pInputText required type="password" autocomplete="new-password" [(ngModel)]="newUser.Password" />
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Confirm Password*
            </div>
            <div class="ui-grid-col-6">
                <input pInputText required type="password" [(ngModel)]="confirmPassword" />
            </div>
        </div>
    </div>
</p-panel>