<!-- <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<p-table #dt [value]="roles" [columns]="cols" >
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th style="width: 3em">
            </th>
            <th style="width: 3.5em">
                <button type="button" class="ui-button-success" (click)="addRole()" pButton icon="pi pi-user-plus"></button>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns">
                <input type="text" pInputText (input)="dt.filter($event.target.value,col.field,col.filterMatchMode)">
            </th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td>
                <button type="button" (click)="openDetails(rowData)" pButton icon="pi pi-search"></button>
            </td>
            <td>
                <button type="button" class="ui-button-danger" (click)="confirm(rowData)" pButton icon="pi pi-user-minus"></button>
            </td>
        </tr>
    </ng-template>
</p-table> -->


<!-- <automatic-list
    model="Role"
    title="List of Roles"
    [fields]="['Id', 'Name']"
    itemCardRoute="base-role-card"
></automatic-list>  -->


<list 
    model="Role" 
    listRoute="base-role-list" 
    >
    <field name="Id"></field>
    <field name="Name"></field>
</list> 