<div class="layout-wrapper" (click)="onWrapperClick()"
     [ngClass]="{'layout-wrapper-active': mobileMenuActive,
                'layout-menu-horizontal': layoutMode === 'horizontal'}">

    <app-menu [reset]="resetMenu"></app-menu>

    <div class="layout-main">
            <app-topbar></app-topbar>
        <app-breadcrumb></app-breadcrumb>
        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>

        <div class="layout-main-mask" *ngIf="mobileMenuActive"></div>
    </div>

</div>
