 <!-- <app-menu></app-menu> -->

 
 <!-- <app-navbar></app-navbar> -->

<div class="p-grid">
    <div class="p-col-fixed sidebar">

 <!-- loads sidebar from src\app\NavBars\sidebar1\sidebar1.component.html
         <app-sidebar></app-sidebar> -->
    </div>
    <div class="p-col table">
        <!--loads selected component from src/app/app-routing.module.ts -->
        <router-outlet></router-outlet>
    </div>
</div>