<list 
    model="SzHijerarhijaNkz" 
    listRoute="sz-hijerarhija-nkz-list" 
    >
<!--Scaffolder-Property-Naziv-Start-->
<field name="Naziv"></field>
<!--Scaffolder-Property-Naziv-End-->
<!--Scaffolder-Property-NazivHrv-Start-->
<field name="NazivHrv"></field>
<!--Scaffolder-Property-NazivHrv-End-->
<!--Scaffolder-Property-NazivEng-Start-->
<field name="NazivEng"></field>
<!--Scaffolder-Property-NazivEng-End-->
	<!-- Scaffolder-Properties-Start -->	
	<!-- Scaffolder-Properties-End -->	
</list> 
