<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>

<h1>{{title}}</h1>
<div *ngIf="dataFormat != undefined">
<p-table #dt [value]="data" [columns]="fields">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" >
                {{ dataFormat[col].Description }}
            </th>
            <th style="width: 3em">
            </th>
            <th style="width: 3.5em">
                <button type="button" class="ui-button-success" (click)="add()" pButton icon="pi pi-plus"></button>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns">
                <input type="text" pInputText (input)="dt.filter($event.target.value,col,col.filterMatchMode)">
            </th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="fields">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of fields">
                <field-list [data]="rowData[col]" [dataFormat]="dataFormat[col].DataType" ></field-list>
            <td>
                <button type="button" (click)="openDetails(rowData)" pButton icon="pi pi-pencil"></button>
            </td>
            <td>
                <button type="button" class="ui-button-danger" (click)="confirm(rowData)" pButton
                    icon="pi pi-trash"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>



