<div [ngSwitch]="dataFormat.DataType">
    <div style="margin: 5px" *ngSwitchCase="'String'">
        <string-form 
            [columnName]="dataFormat.Description"
            [isRequired]="dataFormat.Required" 
            (inputData)="sendDataToForm($event)"
            [data]="data"
            ></string-form>
    </div>
    <div style="margin: 5px" *ngSwitchCase="'Identifier'">
        <identifier-form 
            [columnName]="dataFormat.Description" 
            [data]="data"
            ></identifier-form>
    </div>
    <div style="margin: 5px" *ngSwitchCase="'Many2One'">
        <many2one-form  
            [recordNamesUrl]="description[dataFormat.RelatedModel].RecordNames"
            (inputData)="sendDataToForm($event)"
            [columnName]="dataFormat.Description"
            [isRequired]="dataFormat.Required"
            ></many2one-form>
    </div>
    <div style="margin: 5px" *ngSwitchCase="'Date'">
        <date-form
            (inputData)="sendDataToForm($event)"  
            [data]="data"
            [columnName]="dataFormat.Description" 
            [isRequired]="dataFormat.Required" 
            ></date-form>
    </div>
</div>