<div *ngIf="isEditable; else elseBlock">
    <p-dropdown 
        [options]="data"
        (onChange)="sendDataToParent()"
        [(ngModel)]="selectedData" 
        required="isRequired">
    </p-dropdown>
</div>
<ng-template #elseBlock> 
    <input 
        type="text" 
        disabled=true 
        [ngModel]="recordNames" 
        placeholder="{{recordNames.RecordName}}"
        pInputText>
</ng-template>