<div *ngIf=" wp.FieldDataFormat.Editable; else elseBlock">
    <p-dropdown 
        [options]="recordNames" 
        [autoDisplayFirst]="false" 
        (onChange)="sendDataToParent()"
        [(ngModel)]="selectedData" 
        required="isRequired">
    </p-dropdown>
</div>
<ng-template #elseBlock> 
    <input 
        type="text" 
        disabled=true
        [(ngModel)]="selectedData"
        pInputText>
</ng-template>