<div *ngIf="wp.FieldDataFormat.Editable; else elseBlock">
    <p-multiSelect 
    #multiSelect
        [options]="recordNames"
        showClear="true" 
        (onChange)="sendDataToParent()"
        [(ngModel)]="selectedData" 
        required="isRequired"
        defaultLabel="">
    </p-multiSelect>
</div>
<ng-template #elseBlock> 
    <!-- <input 
        type="text" 
        disabled=true 
        [ngModel]="recordNames" 
        placeholder="{{recordNames.RecordName}}"
        pInputText> -->
  <p-multiSelect 
      [options]="recordNames"
      showClear="true" 
      (onChange)="sendDataToParent()"
      [(ngModel)]="selectedData" 
      required="isRequired" 
      defaultLabel=""
      readonly="true"
      >
  </p-multiSelect>          
</ng-template>