<card 
    model="SzVjestina" 
    listRoute="sz-vjestina-list" 
    >
	<div class="p-grid">
		<div class="p-col-6">
<!--Scaffolder-Property-SzSifraVjestina-Start-->
<field name="SzSifraVjestina"></field>
<!--Scaffolder-Property-SzSifraVjestina-End-->
<!--Scaffolder-Property-Opis-Start-->
<field name="Opis"></field>
<!--Scaffolder-Property-Opis-End-->
<!--Scaffolder-Property-OpisHrv-Start-->
<field name="OpisHrv"></field>
<!--Scaffolder-Property-OpisHrv-End-->
<!--Scaffolder-Property-OpisEng-Start-->
<field name="OpisEng"></field>
<!--Scaffolder-Property-OpisEng-End-->
<!--Scaffolder-Property-HijerarhijaGenerickeVjestine-Start-->
<field name="HijerarhijaGenerickeVjestine"></field>
<!--Scaffolder-Property-HijerarhijaGenerickeVjestine-End-->
<!--Scaffolder-Property-HijerarhijaSpecificneVjestine-Start-->
<field name="HijerarhijaSpecificneVjestine"></field>
<!--Scaffolder-Property-HijerarhijaSpecificneVjestine-End-->
<!--Scaffolder-Property-PrimjenaVjestine-Start-->
<field name="PrimjenaVjestine"></field>
<!--Scaffolder-Property-PrimjenaVjestine-End-->
<!--Scaffolder-Property-PosebnaVjestinaDn-Start-->
<field name="PosebnaVjestinaDn"></field>
<!--Scaffolder-Property-PosebnaVjestinaDn-End-->
			<!-- Scaffolder-Properties-Start -->	
			<!-- Scaffolder-Properties-End -->	
        </div>
    </div>
</card> 
