<card 
    model="SzKljucniPosao" 
    listRoute="sz-kljucni-posao-list" 
    >
	<div class="p-grid">
		<div class="p-col-6">
<!--Scaffolder-Property-Naziv-Start-->
<field name="Naziv"></field>
<!--Scaffolder-Property-Naziv-End-->
<!--Scaffolder-Property-NazivHrv-Start-->
<field name="NazivHrv"></field>
<!--Scaffolder-Property-NazivHrv-End-->
<!--Scaffolder-Property-NazivEng-Start-->
<field name="NazivEng"></field>
<!--Scaffolder-Property-NazivEng-End-->
<!--Scaffolder-Property-VrstaPosla-Start-->
<field name="VrstaPosla"></field>
<!--Scaffolder-Property-VrstaPosla-End-->
<!--Scaffolder-Property-StandardZanimanja-Start-->
<field name="StandardZanimanja"></field>
<!--Scaffolder-Property-StandardZanimanja-End-->
<!--Scaffolder-Property-HIjerarhijaProces-Start-->
<field name="HIjerarhijaProces"></field>
<!--Scaffolder-Property-HIjerarhijaProces-End-->
			<!-- Scaffolder-Properties-Start -->	
			<!-- Scaffolder-Properties-End -->	
        </div>
    </div>
</card> 
