<div *ngIf="dataFormat != undefined">
    <div class="p-grid">
        <div *ngIf="labelWidth > 0" class="p-col-{{labelWidth}}" align="right">
            <label-form [labelText]="fieldDescription"></label-form>
        </div>
        <div class="p-col-{{12 - labelWidth}}" [ngSwitch]="dataFormat.DataType">
            <identifier-form *ngSwitchCase="'Identifier'" [data]="data">
            </identifier-form>
            <string-form *ngSwitchCase="'String'" [isRequired]="dataFormat.Required"
                (inputData)="sendDataToForm($event)" [data]="data">
            </string-form>
            <string-form *ngSwitchCase="'Integer'" [isRequired]="dataFormat.Required"
                (inputData)="sendDataToForm($event)" [data]="data">
            </string-form>
            <div *ngIf="data != null && data != undefined">
                <many2one-form *ngSwitchCase="'Many2One'" [recordNamesUrl]="modelDescription.RecordNames"
                    (inputData)="sendDataToForm($event)" [isRequired]="fieldRequired" [isEditable]="fieldEditable"
                    [data]="data">
                </many2one-form>
            </div>
            <many2many-form *ngSwitchCase="'Many2Many'" [recordNamesUrl]="modelDescription.RecordNames"
                (inputData)="sendDataToForm($event)" [isRequired]="fieldRequired" [isEditable]="fieldEditable"
                [data]="data">
            </many2many-form>
            <one2many-form *ngSwitchCase="'One2Many'" [isEditable]="fieldEditable" [fields]="fields"
                [dataFormat]='dataFormat' [data]="data">
            </one2many-form>
            <date-form *ngSwitchCase="'Date'" (inputData)="sendDataToForm($event)" [isRequired]="fieldRequired"
                [isEditable]="fieldEditable" [data]="data">
            </date-form>
            <boolean-form *ngSwitchCase="'Boolean'" [data]="data" [isRequired]="fieldRequired"
                [isEditable]="fieldEditable" (inputData)="sendDataToForm($event)"></boolean-form>
            <file-form *ngSwitchCase="'File'"></file-form>
            <stringselection-form *ngSwitchCase="'StringSelection'" [selectedData]="data"
            (inputData)="sendDataToForm($event)" [isRequired]="fieldRequired" [isEditable]="fieldEditable"
            [data]="modelDataFormat[fieldName].Selection"></stringselection-form>
        </div>
    </div>
</div>